.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  top: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 25%;
  position: absolute;
}

.image_gallery {
  height: 40px;
}

.close {
  position: absolute;
  top: 40px;
  left: 63.5%;
  transition: 0.3s;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.next {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  width: 33px;
  height: 29px;
  right: 33.6%;
  top: 40%;
  padding: 10px;
  padding: 11px;
}

.previous {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 33px;
  height: 30px;
  position: absolute;
  left: 33.6%;
  padding: 11px;
  top: 40%;
}

.next:hover {
  cursor: pointer;
}

.previous {
  cursor: pointer;
}
